.page {
  font-family: "Inter", sans-serif;
  color: #111;
  background: #fff;
}


.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 30px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}

.navSection,
.navSection1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navSection1 {
  justify-content: flex-end;
}

.navItem {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
}

.leftBox {
  border-right: 1px solid #000;
  padding: 60px 40px;
  box-sizing: border-box;
}

.leftBox h1 {
  font-size: 50px;
  line-height: 1.2;
}

.bold {
  font-weight: 700;
}

.desc {
  font-size: 14px;
  margin-top: 10px;
  color: #555;
  max-width: 400px;
}


.subSection {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #000;
}

.subSection img {
  width: 260px;
  height: auto;
  object-fit: cover;
  border: none;
}

.subSection p {
  flex: 1;
  line-height: 1.6;
  color: #333;
}

.rightGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
}

.item {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

.item:nth-child(2n) {
  border-right: none;
}

.imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.textBox {
  flex-direction: column;
}

.textBox h3 {
  font-size: 18px;
  font-weight: 600;
}

.textBox a {
  font-size: 13px;
  color: #111;
  text-decoration: none;
  margin-top: 5px;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .rightGrid {
    grid-template-columns: 1fr;
  }

  .leftBox {
    border-right: none;
    border-bottom: 1px solid #000;
  }
}

/* .fadeUp {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease-out forwards;
} */

/* @keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

.imageBox {
  overflow: hidden;  
}

.imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.imageBox:hover img {
  transform: scale(1.08); 
}


.textBox h3,
.textBox p {
  opacity: 0;
  transform: translateY(10px);
  animation: textReveal 0.7s ease forwards;
}

@keyframes textReveal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
