.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 30px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}

.navSection,
.navSection1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navSection1 {
  justify-content: flex-end;
}

.navItem {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}
