.storyPage {
  font-family: "Inter", sans-serif;
  color: #222;
}

.heroSection {
  display: flex;
  height: 100vh !important;
}

.heroLeft {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p1 {
  padding-top: 10px;
  font-family: "Zapfino", sans-serif;
}
.heroLeft1 h2 {
  font-size: 36px;
  font-weight: 600;
}

.heroLeft1 h3 {
  font-size: 29px;
}

.heroLeft1 p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.iconRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.iconRow i {
  font-size: 18px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #f1f1f1; 
  border-radius: 50%; 

  cursor: pointer;
  transition: 0.3s ease;
}


.iconRow i:hover {
  background: #000;
  color: #fff;
}

.heroRight {
  flex: 1;
  overflow: hidden;
}

.heroRight img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.iconRow {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
  font-size: 18px;
  color: black;
}


.sectionTitle {
  text-align: center;
  padding: 30px 20px;
}

.sectionTitle h3 {
  font-size: 20px;
  font-weight: 600;
}

.sectionTitle p {
  max-width: 600px;
  margin: 10px auto;
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}


.contentGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.gridItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gridText {
  padding: 40px;
}

.gridText h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.gridText p {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}


.ctaSection {
  text-align: center;
  padding: 50px 20px;
}

.ctaSection h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.ctaSection {
  font-size: 15px;
  line-height: 1.6;
}

.ctaSection p {
 margin-bottom: 30px;
}
.ctaBtn {
  text-decoration: none;
  background: #e3e2e2;
  color: #000000;
  padding: 14px 65px;
  font-size: 16px;
  margin-top: 10px;
}
.ctaBtn:hover{
  background-color: #000;
  color: white;
}

@media (max-width: 900px) {
  .contentGrid {
    grid-template-columns: 1fr;
  }

  .gridText {
    padding: 20px;
  }
}
