.Subscription {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
}

.right {
  border-bottom: 1px solid black;
}

.list,
.list p,
.list ul {
  padding-top: 10px;
}

.list ul {
  line-height: 1.2;
}

.flower {
  margin: 5.5rem;
  /* background-color: brown; */
}

.flower h1 {
  font-size: 50px;
  font-weight: 500;
}

.flower p,
.flower ul li {
  font-size: 16px;
}

.flower button {
  margin-top: 4rem;
  border-radius: none;
  padding: 20px 40px;
  background: none !important;
}

.workFlow {
  margin: 40px 50px;
}

.workFlow h1 {
  font-size: 50px;
  font-weight: 500;
}


/* Work Flow  */


.queries {
  margin: 40px;
}

.queries h1 {
  font-size: 50px;

}

#rows {
  flex-direction: column;
}

.plan {
  padding: 2rem 7rem;
  border-bottom: 1px solid black !important;
  border-collapse: collapse;
}

.plan h1 {
  font-weight: 400 !important;
}

.plan p {
  font-size: 16px;
}

.choose {
  border: 1px solid black !important;

}

.selectives {
  padding: 2rem 3.5rem;
}

.selectives h1 {
  font-size: 50px;
  font-weight: 400;
}

.selectives p {
  font-size: 16px;
}

.selectCard {
  display: flex;
  margin-top: 40px;
  overflow: hidden;
  border: 1px solid #0c0b0b;

}

.selectCard img {
  width: 50%;
  object-fit: cover;
}

.planDetails {
  padding:0 30px;
  width: 50%;
}

.planDetails h3 {
  font-size: 20px;
  font-weight: 400;
  /* margin-bottom: 20px; */
}

.planDetails ul {
  padding-left: 20px;
  font-size: 16px;
}

.selectBtn {
  width: 100%;
  padding: 16px;
  background: #000;
  /* border: 1px solid #fff; */
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  /* margin-top: 20px; */
}

/* FREQUENCY BUTTONS */
.frequency {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.frequency button {
  flex: 1;
  padding: 15px;
  background: #111;
  border: 1px solid #333;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}

.frequency button.active {
  background: #fff;
  color: #000;
}

/* QUANTITY SELECTOR */
.quantity-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 150px;
  border: 1px solid #333;
}

.quantity-box button {
  width: 40px;
  background: #111;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 0;
}

.quantity-number {
  width: 70px;
  text-align: center;
  background: #000;
  padding: 10px 0;
  font-size: 18px;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

/* CHECKOUT */
.checkout-btn {
  margin-top: 40px;
  width: 100%;
  padding: 18px;
  background: #111;
  border: 1px solid #444;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 800px) {}

/* ==== RESPONSIVE ==== */
@media (max-width: 900px) {
  .Subscription {
    grid-template-columns: 1fr;
  }

  .rightGrid {
    grid-template-columns: 1fr;
  }

  .select-card {
    flex-direction: column;
  }

  .select-card img,
  .plan-details {
    width: 100%;
  }
}

/*  Laptop */
@media (min-width: 1024px) and (max-width: 1199px) {
  .Subscription {
    grid-template-columns: 1fr 1fr;
  }

  .flower {
    margin: 20px;
  }

  .flower h1 {
    font-size: 30px;
  }

  .flower p,
  .flower ul li {
    font-size: 14px;
  }

  .list,
  .list p,
  .list ul {
    padding-top: 0px;
  }

  .flower button {
    padding: 15px 25px;
    margin-top: 10px;
  }
}

/* large lab */
@media (min-width: 1200px) {
  .Subscription {
    grid-template-columns: 1fr 1fr;
  }

  .flower {
    margin: 4rem;
  }

  .flower h1 {
    font-size: 50px;
  }

  .flower p,
  .flower ul li {
    font-size: 17px;
  }

  .flower button {
    padding: 20px 40px;
  }
}

@media (min-width: 1440px) and (max-width:1949) {
  .Subscription {
    grid-template-columns: 1fr 1fr;
  }

  .flower h1 {
    font-size: 50px;
  }

  .flower p,
  .flower ul li {
    font-size: 18px;
  }

  .list,
  .list p,
  .list ul {
    padding-top: 0px;
  }

  .flower button {
    margin-top: 1rem;
    padding: 25px 50px;
  }
}

/* pc */
@media (min-width: 1950) {
  .Subscription {
    grid-template-columns: 1fr 1fr;
  }

  .flower h1 {
    font-size: 60px;
  }

  .flower p,
  .flower ul li {
    font-size: 18px;
  }

  .flower button {
    padding: 25px 50px;
  }
}